body {
    font-family: sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
}

canvas {
    border-radius: 10px;
    background-color: #000;
    max-width: 100%;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    background: #444;
    color: white;
    border: none;
    border-radius: 4px;
}
button:hover { background: #666; }